@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
	<title>My Page</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<!-- Custom CSS -->
	<style type="text/css">
		body {
			background-color: orange;
			color: white;
		}

		.image-section {
			background-image: url('C:\Users\HP\Downloads\proxy.jpg');
			background-size: cover;
			background-position: center;
			height: 500px;
			display: flex;
			justify-content: center;
			align-items: center;
		}

			.image-section h2 {
				font-size: 4rem;
				text-shadow: 2px 2px black;
			}

			.image-section img {
				width: 300px;
				height: 300px;
				margin: 20px;
				box-shadow: 5px 5px black;
			}
	</style>
</head>
<body>

	<!-- Image section -->
	<section class="image-section">
		<div>
			<h2>Altysys</h2>
			<img src="C:\Users\HP\Downloads\proxy.jpeg " alt="Image">
			<img src="https://images.unsplash.com/photo-1542831376-c88f0a576aff" alt="Image 2">
			<img src="https://images.unsplash.com/photo-1563932039579-2f57fc07cf41" alt="Image 3">
		</div>
	</section>

	<!-- Main content -->
	<div class="container mt-5">
		<div class="row">
			<div class="col-md-8">
				<h2>Section 1</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada, arcu vel fermentum interdum, magna dui tempor leo, ut varius libero magna vel ipsum. Suspendisse commodo quam nec elit hendrerit euismod.</p>

				<h2>Section 2</h2>
				<p>Phasellus ultricies arcu vitae sagittis ultricies. Nulla facilisi. Vestibulum quis imperdiet ex. Donec quis est euismod, efficitur velit eget, fringilla nibh. Etiam nec nibh in enim dictum
					malesuada. Nullam euismod justo quam, vel pharetra est congue a. Fusce tristique, dolor at molestie hendrerit, odio sapien mollis enim, eu fringilla neque quam id nibh. Aliquam tristique felis at erat ullamcorper, sed iaculis velit tincidunt.
				</p>
			</div>
			<div class="col-md-4">
				<h2>Section 3</h2>
				<p>Integer tempor euismod nibh eu dapibus. Maecenas ac tincidunt felis. Vivamus a leo eget lorem sagittis tincidunt. Vestibulum malesuada venenatis nunc, ac volutpat neque cursus ut. Integer posuere lobortis leo. Integer eget sapien sed elit interdum rhoncus vel vel dolor.</p>
			</div>
		</div>
	</div><!-- Footer -->
	

	<!-- Bootstrap JS and jQuery -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>


